img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* RESETS end */

body {
  font-family: $main-font;
  font-size: $main-fontsize;
  transition: color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  &.modal-open {
    overflow: hidden;
  }
}

main {
  transition: color 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

// class to hide elements

.disappear,
.is-hidden {
  display: none;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
