img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

/* RESETS end */

body {
  font-family: $main-font;
  font-size: $main-fontsize;

  &.modal-open {
    overflow: hidden;
  }
}

// class to hide elements

.disappear,
.is-hidden {
  display: none;
}
