.container {
  // общие стили контейнера:
  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include screen('mobile') {
    width: 320px;
  }
  @include screen('tablet') {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @include screen('desktop') {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .header & {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
