<div class="container">
    <!-- Тут будет рендерится галлерея -->
    <ul class="movie-list" id="movie-list"></ul>

    <!-- Внизу должна быть пагинация -->
    <div class="pagination">
        <ul>
            <!--pages or li are comes from javascript -->
        </ul>
        <!-- Кнопка "вернуться вверх" -->
        <button class="btn-to-top is-hidden" id="btn-to-top">
            <svg class="icon-to-top" width="30" height="30">
                <use href="./images/sprite.svg#icon-arrow-up"></use>
            </svg>
        </button>
    </div>
</div>