<li>
    <p class="queue-text">В Вашем списке "Хочу посмотреть" пока нет ничего. Перейдите к поиску и выберите наконец-то
        фильм, который хотите посмотреть!</p>
</li>
<li>
    <img class="queue-img" src="https://tlgrm.ru/_/stickers/df1/326/df1326f5-cd9b-44c4-b65d-3dbc3953f7c5/1.webp" alt="KHABY_LAME">
</li>
<li>
    <a class="button link is-btn-active back-to-search-btn" id="back-to-search-btn" href="#">Back to search</a>
</li>