<div class="container">
    <div class="queue-list">
        <p class="queue-text">В Вашем списке "Хочу посмотреть" пока нет ничего. Перейдите к поиску и выберите наконец-то
            фильм, который хотите посмотреть!</p>
        <a class="button link is-active back-to-search-btn" href="./index.html">Back to search</a>
    </div>
</div>