<li>
    <p class="watched-text">Ваш список просмотренных фильмов пуст. Посмотрите уже наконец что-нибудь!</p>
</li>
<li>
    <img class="watched-img" src="https://tlgrm.ru/_/stickers/df1/326/df1326f5-cd9b-44c4-b65d-3dbc3953f7c5/1.webp" alt="KHABY_LAME" width="280"/>
</li>
<li>
    <a class="button link is-btn-active back-to-home-btn" id="back-to-home-btn" href="#">Back to home</a>
</li>