<div class="container">
    <div class="watched-list">
        <p class="watched-text">Ваш список просмотренных фильмов пуст. Посмотрите уже наконец что-нибуть!</p>
        <a class="button link is-active back-to-home-btn" href="./index.html">Back to home</a>
    </div>
</div>