$main-font: 'Roboto', sans-serif;
$accent-color: #ff6b08;
$error-color: #ff001b;
$main-fontsize: 12px;
$header-text-color: #ffffff;
$main-text-color: #000000;
$footer-text-color: #545454;
$film-card-titles-color: #8c8c8c;
$footer-background-color: #f7f7f7;
