<section class="genres" id="genres">
    <div class="container">
        <ul class="filter-thumb">
            <li><input type="radio" class="genre-btn" id="genre-btn">All</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Comedy</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Crime</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Drama</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Fantasy</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Horror</input></li>
            <li><input type="radio" class="genre-btn" id="genre-btn">Thriller</input></li>
            <li><input type="radio" class="genre-btn" id="genre-clear">Clear</input></li>
        </ul>
    </div>
</section>