<section class="genres" id="genres">
    <div class="container">
        <ul class="filter-thumb">
            <li><button type="button" class="genre-btn" id="genre-btn">All</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Comedy</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Crime</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Drama</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Fantasy</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Horror</button></li>
            <li><button type="button" class="genre-btn" id="genre-btn">Thriller</button></li>
            <li><button type="button" class="genre-btn" id="genre-clear">Clear</button></li>
        </ul>
    </div>
</section>