<header class="header home-header">
  <div class="container">
    <div class="switch-containers">
      <div class="theme-container">
        <input type="checkbox" id="themeSwitch" name="theme-switch" class="theme-switch__input" />
        <label for="themeSwitch" class="theme-switch__label">
          <span></span>
        </label>
      </div>
        
      <div class="lang-container">
        <input type="checkbox" id="langSwitch" name="lang-switch" class="lang-switch__input" />
        <label for="langSwitch" class="lang-switch__label">
          <span></span>
        </label>
      </div>
  </div>
  <div class="container">
    <div class="main-nav">
      <a class="logo-link link" href="#">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="site-nav">
        <a class="home-link link current" href="#">Home</a>
        <a class="my-library-link link" href="#">my library</a>
      </div>
    </div>

    <form class="search-form" id="search-form">
      <input class="input" type="text" name="query" placeholder="Поиск фильмов" id="search-input" />
      <button type="submit" class="search-btn" id="search-btn">
        <svg class="search-icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <button type="button" class="watched-btn visually-hidden button is-btn-active">Watched</button>
    <button type="button" class="queue-btn visually-hidden button">queue</button>
  </div>
  
</header>
