<header class="header home-header">
  <div class="container">
    <div class="main-nav">
      <a class="logo-link link" href="./index.html">
        <svg class="logo-icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="site-nav">
        <a class="home-link link current" href="./index.html">Home</a>
        <a class="my-library-link link" href="#">my library</a>
      </div>
    </div>
    <form class="search-form" id="search-form">
      <input class="input" type="text" name="query" placeholder="Поиск фильмов" id="search-input" />
      <button type="submit" class="search-btn" id="search-btn">
        <svg class="search-icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <button type="button" class="watched-btn visually-hidden button is-active">Watched</button>
    <button type="button" class="queue-btn visually-hidden button">queue</button>
  </div>
</header>
