<div class=" container footerModalClose" id="footer-modal">
    <div class="footer-modal-overlay">
        <button class="film-modal-close-btn" id="footerCloseBtn">
            <span class="material-icons">
                close
            </span>
        </button>
        <h1 class="modal-tittle">Выполнено командой "CIV-team"</h1>
        <!-- Slider main container -->
        <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/alina-bihdan-new-n.jpg" alt="foto of web dev Alina Bihdan" class="swiper-card-img">
                            <p class="swiper-card-name">Алина Бигдан</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Бесспорный лидер и душа коллектива. Mежгалактический двигатель команды."</p>

                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="#" target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="#" target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en"  target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/alina-bihdan-6211291a6" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/yaroslava-yemets-n.jpg" alt="foto of web dev Yaroslava Emets" class="swiper-card-img">
                            <p class="swiper-card-name">Ярослава Емец</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Человек-кремень - ночь спать не будет, но поставленную задачу выполнит."</p>

                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en"  target="_blank" rel="noopener noreferrer" href="mailto:yaroslava1058@gmail.com" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en"  target="_blank" rel="noopener noreferrer" href="https://github.com/yaroslava-yemets" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en"  target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/yaroslava-yemets-454689195/" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/petro-babiuk.jpg" alt="foto of web dev Petro Babiuk" class="swiper-card-img">
                            <p class="swiper-card-name">Петр Бабюк</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Креативность и простота - вот о ком идет речь. Он как залог успеха."</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" target="_blank" rel="noopener noreferrer" href="mailto: petro.babiuk2506@gmail.com">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" target="_blank" rel="noopener noreferrer" href="https://github.com/PetroBabiuk" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/petr-babiuk-201212210/" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/nikolay-n.jpg" alt="foto of web dev Nikolay Grechkosiy" class="swiper-card-img">
                            <p class="swiper-card-name">Николай Гречкосий</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Уверенность, положительное настроение и системный подход идут кнопка в кнопку с этим разработчиком."</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="#" target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="#"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" href="#"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/sergey-markov-new.jpg" alt="foto of web dev Sergey Markov" class="swiper-card-img">
                            <p class="swiper-card-name">Сергей Марков</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Общий психолог и креативный мастер разработки. Кулинар своего шедевра."</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="mailto:1nativefl@gmail.com"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://github.com/Sergey-Markov"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://www.linkedin.com/in/serhii-markov-68ba39203"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/kseniya.jpg" alt="foto of web dev Kseniya Chernykh" class="swiper-card-img">
                            <p class="swiper-card-name">Оксана Черных</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Мастер своего дела. Где нужно подскажет, что нужно поправит."</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="mailto:Chernykh.fs@gmail.com"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://github.com/ChernykhGO"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://www.linkedin.com/in/oksana-c-75290a211/"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/kostya-n.jpg" alt="foto of web dev Konstantin Zhukov" class="swiper-card-img">
                            <p class="swiper-card-name">Константин Жуков</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Гуру кода и наш личный тестировщик. Баг его боится."</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="mailto:zhukov_konst@ukr.net"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://github.com/kosta-j"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://www.linkedin.com/in/konstantinzhukov"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <div class="swiper-card-firstsection">
                            <img lang="en" src="./images/maks-sokol-n.jpg" alt="foto of web dev Max Sokolenko" class="swiper-card-img">
                            <p class="swiper-card-name">Максим Соколенко</p>
                            <p class="swiper-card-profession">web developer</p>
                        </div>
                        <p class="swiper-card-characteristic">"Максимум разработки и максимум внимания. Быстро и лаконично"</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a lang="en" href="mailto:sokolenko.mksy@gmail.com"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://github.com/SokolMks"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a lang="en" href="https://www.linkedin.com/in/sokolenkomaks/"  target="_blank" rel="noopener noreferrer">
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>    
                    </li>
                    
                   
                    
                </ul>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>