<div class="footer-modal container" id="footer-modal">
    <button class="film-modal-close-btn" data-modal="close">
        <span class="material-icons">
            close
        </span>
    </button>
    <h1 class="modal-tittle">Выполнено командой "CIV-team"</h1>
    <h2 class="modal-tittle-second">Для Вас не спали:</h2>
    <!-- Slider main container -->
    <div class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide swiper-card">
                   <div>
                    <img src="./images/pie-test.jpg" alt="web dev Sergey Markov" class="swiper-card-img">
                    <p class="">Sergey Markov</p>
                    
                   </div>

                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
                <li class="swiper-slide swiper-card">
                    <img src="./images/pie-test.jpg" alt="">
                </li>
            </ul>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>