<div class=" container footerModalClose" id="footer-modal">
    <div class="footer-modal-overlay">
        <button class="film-modal-close-btn" id="footerCloseBtn">
            <span class="material-icons">
                close
            </span>
        </button>
        <h1 class="modal-tittle">Выполнено командой "CIV-team"</h1>
        <h2 class="modal-tittle-second">Для Вас не спали:</h2>
        <!-- Slider main container -->
        <div class="swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide swiper-card">
                       <div>
                        <img src="./images/pie-test.jpg" alt="web dev Sergey Markov" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        
                       </div>
    
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="swiper-slide swiper-card">
                        <img src="./images/pie-test.jpg" alt="" class="swiper-card-img">
                        <p class="">Sergey Markov</p>
                        <ul class="socialicon-list">
                            <li class="socialicon-list-link">
                                <a href="" ></a>
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-gmail"></use>
                                    </svg>
                                </a>
                            </li>
                            
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socialicon-list-link">
                                <a href="" >
                                    <svg class="social-icon">
                                        <use href="./images/sprite.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>