
.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 28px;

    background-color: #F7F7F7;
}

.footer-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #545454;

    margin-right: 10px;
    
}
:hover{
    color: #FF6B08;
    cursor: pointer;
}
.footer-text-goit{
    font-style:normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #545454;

    margin-left: 10px;
}
.footer-text-goit-link{
    text-decoration: underline;
    font-style:normal;
    color: #545454;

    &:focus{
        color: #FF6B08;
        cursor: pointer;
    }
    &:hover{
        color: #FF6B08;
        cursor: pointer;
    }
}