.genres {
  padding: 10px 0;
}

.filter-thumb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: -7px;
}

.genre-btn {
  margin: 7px;
  display: inline-block;
  border: none;
  border-radius: 45px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.genre-btn:hover {
  background: $accent-color;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  color: white;
  transform: translateY(-7px);
}

.genre-btn:active {
  background: $accent-color;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
  color: white;
}
