// ==================Slider from library Swiper===================
.swiper-container {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    flex-shrink: 0.07;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
} 
.swiper-pagination-bullet{
    background: #ff6b01;
}
.swiper-card{
    margin-bottom: 20px;
    width: 250px;
    height: auto;
    border: 2px rgb(139, 135, 4) solid;
    border-radius: 4px;
    text-align: center;
    background-color: #fff;
    color: black;
    @include font(14px, 24px);
}
.swiper-card-img{
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.footerModalClose{
    display: none;
}
.footer-modal{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(104, 100, 100);

    padding: 30px 0;
    overflow:hidden;
    @include font(14px, 24px);
    z-index: 99;
}
.footer-modal-overlay{
    width: 100%;
    height: auto;
    background-color: rgb(104, 100, 100);

    padding: 20px 50px 20px 20px;
    overflow:hidden;
    @include font(14px, 24px);
    
}
.modal-tittle{
    text-align: center;
    text-decoration: underline;
    text-align: center;
    color: #ff6b01;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-tittle-second{
    text-align: center;
    color: #ff6b01;
}
.footer-modal-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 130px;
    height: 130px;
    fill: #ff6b01;
    text-align: center;
}
