.film {
  &-blackdrop {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: -100%;
    overflow: scroll;

    transition: all 1000ms ease-in;

    @include screen('tablet') {
      padding: 130px 75px;
    }

    @include screen('desktop') {
      padding: 100px 71px;
    }

    &.is-active {
      left: 0;
      opacity: 1;
      transition: all 1000ms ease-in;
    }
  }

  &-modal {
    background-color: #ffffff;
    padding: 48px 20px 41px 20px;
    position: relative;

    @media screen and (min-width: 550px) and (max-width: 767px) {
      margin: 0 auto;
      width: 508px;
    }

    @include screen('tablet') {
      padding: 40px 30px;
      width: 618px;
      margin: 0 auto;
    }

    @include screen('desktop') {
      padding: 50px 30px;
      width: 882px;
      margin: 0 auto;
    }
  }

  &-template {
    @include screen('tablet') {
      display: flex;
      justify-content: space-between;
    }
  }

  &-modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #ff6b01;

      & > .material-icons {
        color: #ffffff;
      }
    }

    & > .material-icons {
      color: #000000;
      font-size: 26px;
    }
  }

  &-poster {
    border-radius: 5px;

    @media screen and (min-width: 550px) and (max-width: 767px) {
      width: 468px;
    }

    @include screen('tablet') {
      width: 264px;
      margin-right: 30px;
    }

    @include screen('desktop') {
      width: 396px;
    }
  }

  &-main-content {
    @media screen and (min-width: 550px) and (max-width: 767px) {
      width: 468px;
    }

    @include screen('tablet') {
      width: 264px;
    }

    @include screen('desktop') {
      width: 396px;
    }
  }

  &-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }

    @include screen('desktop') {
      font-size: 30px;
      line-height: 1.666;
    }
  }

  &-information {
    display: flex;
    margin-bottom: 20px;
  }

  &-vote {
    display: inline-block;
    padding: 1px 10px;
    background-color: #ff6b01;
    border-radius: 5px;
    color: #ffffff;
  }

  &-votes {
    padding: 1px 5px;
    border-radius: 5px;
    background-color: #f7f7f7;
  }

  &-original-title,
  &-description-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    text-transform: uppercase;
  }

  &-description-title {
    margin-bottom: 10px;
  }

  &-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 20px;
  }

  &-genres {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    display: inline-flex;
    flex-wrap: wrap;
  }
}

.genres-punctuation:not(:last-child)::after {
  content: ',';
  margin-right: 7px;
}

.right-column,
.left-column {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;

  & > li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.left-column {
  color: #8c8c8c;
  white-space: nowrap;
}

.right-column {
  padding-left: 40px;
  color: #000000;
}

.action-buttons {
  display: flex;
  align-items: center;

  @media screen and (max-width: 339px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 340px) and (max-width: 767px) {
    justify-content: space-evenly;
  }

  @media screen and (min-width: 460px) and (max-width: 767px) {
    width: 385px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    justify-content: space-between;
  }
}

.btn-add-to-watched,
.btn-add-to-queue {
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  border: 1px solid #000000;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  @include screen('tablet') {
    width: 125px;
  }

  @include screen('desktop') {
    width: 136px;
  }

  &:hover,
  &:focus {
    background-color: #ff6b01;
    color: #ffffff;
    border: none;
  }
}

.btn-add-to-watched {
  @include screen('desktop') {
    margin-right: 15px;
  }
}
