.movies {
  padding-top: 20px;
  padding-bottom: 20px;
}

.movie-list {
  margin-bottom: 40px;
}

.movie-card {
  padding-top: 10px;
}

.gallery-item {
  margin-bottom: 20px;
  max-width: 294px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}
.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.1);
  box-shadow: 0px 5px 5px 0px rgba(68, 66, 66, 0.1);
}

.gallery-item:nth-child(1n) {
  margin-bottom: 20px;
}

.subscribe-item-movie {
  font-weight: 500;
  font-size: $main-fontsize;
  line-height: 1.88;
  text-transform: uppercase;
  // color: $main-text-color;
}

.subscribe-item {
  font-weight: 500;
  font-size: $main-fontsize;
  line-height: 1.33;
  color: $accent-color;
}

@media screen and (min-width: 767px) {
  .movies {
    padding-top: 40px;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }

  .gallery-item:nth-child(2n) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-list {
    margin: -15px;
    padding-bottom: 50px;
  }
  .gallery-item {
    margin: 15px;
    width: calc((100% - 90px) / 3);
  }
  .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
  .img-card {
    width: 274px;
  }
}
