.theme-container label {
  color: white;
}

// стили для смены фона
body.light-theme {
  background-color: white;
}

body.dark-theme {
  background-image: url(../images/it-mob-1x.jpeg);
  color: white;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: url(../images/it-mob-ratio.jpeg);
  }

  @include screen('tablet') {
    background-image: url(../images/it-tablet.jpeg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/it-tablet-ratio.jpeg);
  }

  @include screen('desktop') {
    background-image: url(../images/it-desc.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  }

  & .header {
    background: transparent;
  }

  & footer {
    background: transparent;
  }

  & .footer-text,
  & .footer-text-goit,
  & .footer-text-goit-link,
  & .numb,
  & .dots,
  & .btn.prev,
  & .btn.next {
    color: white;
  }
}

// // cтили самой кнопки
.theme-switch__input,
.theme-switch__label {
  position: absolute;
  z-index: 1;
  right: 40px;
  bottom: -70px;

  @include screen('tablet') {
    left: 105px;
    top: 10px;
  }
}
.theme-switch__input {
  opacity: 0;
}

.theme-switch__input:hover,
.theme-switch__input:focus {
  + .theme-switch__label {
    background-color: lightSlateGray;
  }

  + .theme-switch__label span::after {
    background-color: lighten(lightBlue, 10%);
  }
}

.theme-switch__label {
  //   padding: 20px;
  //   margin: 60px;
  transition: background-color 200ms ease-in-out;
  width: 60px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
  background-color: slateGray;
  box-shadow: -4px 4px 15px inset rgba(0, 0, 0, 0.4);

  &::before,
  &::after {
    font-size: 2rem;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    top: 50%;
  }

  &::before {
    content: '\263C';
    right: 100%;
    margin-right: 10px;
    color: orange;
  }

  &::after {
    content: '\263E';
    left: 100%;
    margin-left: 10px;
    color: lightSlateGray;
  }

  span {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    width: 100%;
  }

  span::after {
    position: absolute;
    top: calc(100% + 12px);
    left: 3px;
    width: 20px;
    height: 20px;
    content: '';
    border-radius: 50%;
    background-color: lightBlue;
    transition: transform 200ms, background-color 200ms;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.4);
  }
}

.theme-switch__input:checked ~ .theme-switch__label {
  background-color: lightSlateGray;

  &::before {
    color: lightSlateGray;
  }

  &::after {
    color: turquoise;
  }

  span::after {
    transform: translate3d(35px, 0, 0);
  }
}
