.watched-list,
.queue-list {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: $film-card-titles-color;
  text-align: center;
}
.watched-text,
.queue-text {
  max-width: 280px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $main-text-color;
  @include screen('tablet') {
    min-width: 136px;
  }
}
.back-to-home-btn,
.back-to-search-btn {
  display: block;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  min-height: 44px;
  padding-top: 13px;
  padding-bottom: 11px;
}
